<%= simple_form_for @document, url: update_document_path(@klass.to_s.downcase, @document) do |f| %>
  <% Mongoid::DocumentEditor.fields_for(@klass).each_pair do |name, config| %>
    <p><%= document_edit_field(f, @klass, @document, name, config) %></p>
  <% end %>
  <%= f.submit %>
<% end %>
