<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "base/style" %>
  </head>
  <body>
    <div class="container content-inner">
      <%= yield %>
    </div>
  </body>
</html>
